body{
    margin:0;
    padding:0;
}

:root{
    --size: 16;
    --cell-size: calc(500px/var(var(--size)));
}

#container{
    display:grid;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    outline: 2px solid black;
    position:relative;
    padding:0;
    left: 30%;
    top: 10vh;
    width: 500px;
    height: 500px;
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    outline: .5px solid black;
}

button{
    position:relative;
    left:45%;
    top: 5vh;
}